.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 839px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
  margin-left: auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 779px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-group-1 {
  width: 500px;
  min-height: 500px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 300;
  font-size: 1.875rem;
  margin: 0 30px;
}

.u-section-1 .u-text-2 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 10px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  margin: 30px auto 0;
  padding: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 779px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  height: 614px;
  margin: 135px auto -30px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 702px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 659px;
  }

  .u-section-1 .u-group-1 {
    min-height: 410px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 642px;
  }

  .u-section-1 .u-image-1 {
    height: 494px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 160px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 525px;
  }

  .u-section-1 .u-group-1 {
    min-height: 301px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 492px;
  }

  .u-section-1 .u-image-1 {
    height: 361px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 260px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-1 {
    width: 301px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 738px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 626px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-cell-2 {
    min-height: 465px;
  }

  .u-section-1 .u-image-1 {
    height: 385px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 661px;
}

.u-section-2 .u-text-1 {
  font-size: 12.5rem;
  font-weight: 700;
  margin: 159px 0 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 761px;
  margin: -289px 0 60px auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 481px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  line-height: 2.2;
  margin: 59px 1px 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 481px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  margin: 271px 3px 0 1px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-top: 160px;
    margin-left: 219px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 710px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: 60px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 534px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: auto;
    margin-left: 23px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 1px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 715px;
  }

  .u-section-2 .u-text-1 {
    font-size: 9.375rem;
    margin-top: 184px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: -218px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    width: 264px;
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 0;
    margin-left: 2px;
    margin-right: 2px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 631px;
  }

  .u-section-2 .u-text-1 {
    font-size: 6rem;
    margin-top: 158px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -216px;
    margin-bottom: 47px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-2 {
    margin-left: 25px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 1px;
    margin-right: 1px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 744px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: auto;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 323px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 10px;
}

.u-section-3 .u-text-1 {
  font-size: 6rem;
  margin: 117px 16px 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 323px;
}

.u-section-3 .u-container-layout-2 {
  padding: 10px;
}

.u-section-3 .u-image-1 {
  height: 169px;
  object-position: 50% 41.96%;
  margin: 1px 0 0 auto;
}

.u-section-3 .u-text-2 {
  font-size: 2.25rem;
  margin: 29px 0 0 95px;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 396px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  width: 255px;
  height: 227px;
  object-position: 50% 87.15%;
  margin: 1px auto 0 0;
}

.u-section-3 .u-text-3 {
  font-size: 2.25rem;
  margin: 21px 0 0 239px;
}

.u-section-3 .u-text-4 {
  margin: 20px 0 0 164px;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 745px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-text-5 {
  font-size: 2.25rem;
  margin: 0 0 0 256px;
}

.u-section-3 .u-image-3 {
  height: 441px;
  object-position: 0% 53.06%;
  margin: 62px 0 0 auto;
}

.u-section-3 .u-text-6 {
  margin: 20px 0 0 256px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 635px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 266px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
    margin-right: 0;
    margin-left: 20px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 266px;
  }

  .u-section-3 .u-image-1 {
    height: 137px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-2 {
    margin-left: 45px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 327px;
  }

  .u-section-3 .u-image-2 {
    width: 205px;
    height: 183px;
    margin-top: 0;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-right: 1px;
    margin-left: 139px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 64px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 614px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: 64px;
    margin-left: 156px;
  }

  .u-section-3 .u-image-3 {
    height: 355px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-6 {
    margin-left: 156px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1696px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-1 {
    font-size: 4.5rem;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-image-1 {
    height: 217px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-image-2 {
    width: 330px;
    height: 295px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-left: 279px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-image-3 {
    height: 571px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1805px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -147px;
    margin-bottom: -147px;
    margin-left: initial;
  }

  .u-section-3 .u-text-1 {
    margin-left: 47px;
    margin-right: 47px;
  }

  .u-section-3 .u-image-1 {
    height: 332px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    width: 260px;
    height: 232px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 139px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-5 {
    height: 43px;
    margin-left: 16px;
  }

  .u-section-3 .u-image-3 {
    height: 450px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-6 {
    margin-left: 16px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1442px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 297px;
  }

  .u-section-3 .u-image-1 {
    height: 204px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-right: 1px;
    margin-left: 0;
  }

  .u-section-3 .u-image-2 {
    width: 160px;
    height: 143px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
  }

  .u-section-3 .u-image-3 {
    height: 277px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 744px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 716px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  height: 441px;
  margin: 0 0 0 auto;
}

.u-section-4 .u-text-1 {
  font-size: 2.25rem;
  margin: 62px 327px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 411px 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 323px;
}

.u-section-4 .u-container-layout-2 {
  padding: 10px;
}

.u-section-4 .u-image-2 {
  height: 169px;
  object-position: 50% 7.33%;
  margin: 1px auto 0 0;
}

.u-section-4 .u-text-3 {
  font-size: 2.25rem;
  margin: 29px 0 0 105px;
}

.u-section-4 .u-text-4 {
  margin: 20px 0 0 162px;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 323px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 10px;
}

.u-section-4 .u-text-5 {
  font-size: 6rem;
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 393px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-image-3 {
  width: 255px;
  height: 227px;
  object-position: 50% 87.15%;
  margin: 1px 0 0 auto;
}

.u-section-4 .u-text-6 {
  font-size: 2.25rem;
  margin: 21px 365px 0 0;
}

.u-section-4 .u-text-7 {
  margin: 20px 409px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 635px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 590px;
  }

  .u-section-4 .u-image-1 {
    height: 355px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-1 {
    width: 184px;
    margin-right: 227px;
  }

  .u-section-4 .u-text-2 {
    width: 99px;
    margin-right: 311px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 266px;
  }

  .u-section-4 .u-image-2 {
    height: 137px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-3 {
    margin-left: 55px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 112px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 271px;
  }

  .u-section-4 .u-text-5 {
    font-size: 4.5rem;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 324px;
  }

  .u-section-4 .u-image-3 {
    width: 205px;
    height: 183px;
    margin-top: 0;
  }

  .u-section-4 .u-text-6 {
    width: 142px;
    margin-right: 265px;
  }

  .u-section-4 .u-text-7 {
    width: 101px;
    margin-right: 309px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1696px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-image-1 {
    height: 571px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-1 {
    height: 43px;
  }

  .u-section-4 .u-text-2 {
    height: 21px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-image-2 {
    height: 217px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-4 .u-image-3 {
    width: 330px;
    height: 295px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1805px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: -147px;
    margin-bottom: -147px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    height: 450px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-1 {
    margin-right: 87px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 171px;
  }

  .u-section-4 .u-image-2 {
    height: 332px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-3 {
    width: 260px;
    height: 232px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 125px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 169px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1442px;
  }

  .u-section-4 .u-image-1 {
    height: 277px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-image-2 {
    height: 204px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
  }

  .u-section-4 .u-image-3 {
    width: 160px;
    height: 143px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 0;
  }

  .u-section-4 .u-text-7 {
    margin-right: 0;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 995px;
}

.u-section-5 .u-text-1 {
  letter-spacing: 0px;
  font-weight: 700;
  font-size: 3.75rem;
  margin: 70px 0 0;
}

.u-section-5 .u-text-2 {
  letter-spacing: 0px;
  font-size: 2.25rem;
  text-transform: none;
  margin: 26px 0 0;
}

.u-section-5 .u-image-1 {
  width: 417px;
  height: 417px;
  background-image: url("images/pexels-photo-5644431.jpeg");
  background-position: 50% 0%;
  margin: 46px auto 0;
}

.u-section-5 .u-list-1 {
  min-height: 260px;
  grid-template-columns: repeat(3, calc(33.3333% - 17px));
  margin-top: 30px;
  margin-bottom: 52px;
  margin-left: 0;
  grid-gap: 26px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-5 .u-icon-1 {
  height: 73px;
  width: 73px;
  background-image: none;
  text-shadow: -2px 0 0 rgba(0,0,0,0);
  margin: 0 auto 0 0;
}

.u-section-5 .u-group-1 {
  width: 220px;
  min-height: 177px;
  margin: -73px 0 0 auto;
}

.u-section-5 .u-container-layout-2 {
  padding: 0 0 14px 20px;
}

.u-section-5 .u-text-3 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 1.375rem;
}

.u-section-5 .u-text-4 {
  margin-left: 0;
  font-size: 0.875rem;
  font-style: italic;
  margin-bottom: 0;
}

.u-section-5 .u-icon-2 {
  height: 32px;
  width: 32px;
  margin: 17px auto 0 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-5 .u-icon-3 {
  height: 73px;
  width: 73px;
  background-image: none;
  text-shadow: -2px 0 0 rgba(0,0,0,0);
  margin: 0 auto 0 0;
}

.u-section-5 .u-group-2 {
  width: 220px;
  min-height: 177px;
  background-size: auto;
  margin: -73px 0 0 auto;
}

.u-section-5 .u-container-layout-4 {
  padding: 0 0 14px 20px;
}

.u-section-5 .u-text-5 {
  font-weight: 700;
  font-size: 1.375rem;
  margin: 0 111px 0 0;
}

.u-section-5 .u-text-6 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-5 .u-icon-4 {
  height: 32px;
  width: 32px;
  margin: 17px auto 0 0;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px 20px;
}

.u-section-5 .u-icon-5 {
  height: 73px;
  width: 73px;
  background-image: none;
  text-shadow: -2px 0 0 rgba(0,0,0,0);
  margin: 0 auto 0 0;
}

.u-section-5 .u-group-3 {
  width: 220px;
  min-height: 177px;
  background-size: auto;
  margin: -73px 0 0 auto;
}

.u-section-5 .u-container-layout-6 {
  padding: 0 0 14px 20px;
}

.u-section-5 .u-text-7 {
  font-weight: 700;
  font-size: 1.375rem;
  margin: 0 69px 0 0;
}

.u-section-5 .u-text-8 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-5 .u-icon-6 {
  height: 32px;
  width: 32px;
  margin: 17px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1132px;
  }

  .u-section-5 .u-text-2 {
    width: 154px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-image-1 {
    margin-top: 62px;
  }

  .u-section-5 .u-list-1 {
    min-height: 214px;
    height: auto;
    margin-top: 20px;
    margin-left: initial;
  }

  .u-section-5 .u-group-1 {
    width: 174px;
    min-height: 190px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-right: 9px;
    margin-left: 0;
  }

  .u-section-5 .u-text-4 {
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-5 .u-group-2 {
    width: 174px;
    min-height: 190px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-bottom: 0;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin-right: 9px;
  }

  .u-section-5 .u-group-3 {
    width: 174px;
    min-height: 190px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-bottom: 0;
  }

  .u-section-5 .u-text-7 {
    width: auto;
    margin-right: 9px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1242px;
  }

  .u-section-5 .u-list-1 {
    min-height: 492px;
    grid-template-columns: repeat(2, calc((100% - 720px) / 2 + 347px));
    margin-left: initial;
  }

  .u-section-5 .u-group-1 {
    width: 215px;
    min-height: 173px;
  }

  .u-section-5 .u-group-2 {
    width: 215px;
    min-height: 173px;
  }

  .u-section-5 .u-group-3 {
    width: 215px;
    min-height: 173px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1125px;
  }

  .u-section-5 .u-list-1 {
    grid-template-columns: repeat(2, calc((100% - 540px) / 2 + 257px));
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-icon-1 {
    height: 63px;
    width: 63px;
  }

  .u-section-5 .u-group-1 {
    width: 162px;
    min-height: 202px;
    margin-top: -63px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.25rem;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-icon-3 {
    height: 63px;
    width: 63px;
  }

  .u-section-5 .u-group-2 {
    width: 162px;
    min-height: 202px;
    margin-top: -63px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-5 {
    font-size: 1.25rem;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-icon-5 {
    height: 63px;
    width: 63px;
  }

  .u-section-5 .u-group-3 {
    width: 162px;
    min-height: 202px;
    margin-top: -63px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-7 {
    font-size: 1.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1294px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3rem;
    width: 340px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-5 .u-list-1 {
    grid-template-columns: 100%;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-icon-1 {
    height: 71px;
    width: 71px;
  }

  .u-section-5 .u-group-1 {
    width: 192px;
    margin-top: -71px;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-icon-3 {
    height: 71px;
    width: 71px;
  }

  .u-section-5 .u-group-2 {
    width: 192px;
    margin-top: -71px;
  }

  .u-section-5 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-icon-5 {
    height: 71px;
    width: 71px;
  }

  .u-section-5 .u-group-3 {
    width: 192px;
    margin-top: -71px;
  }

  .u-section-5 .u-text-7 {
    font-size: 1.5rem;
  }
}.u-section-6 {
  background-image: url("images/pexels-photo-3688303.jpeg");
  background-position: 0% 45.56%;
  background-size: 125%;
}

.u-section-6 .u-sheet-1 {
  min-height: 584px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 83px 570px 0 0;
}

.u-section-6 .u-text-2 {
  line-height: 1.6;
  font-size: 1.5rem;
  font-weight: 300;
  margin: 80px 681px 0 0;
}

.u-section-6 .u-text-3 {
  font-weight: 700;
  margin: 20px 1059px 0 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  border-style: solid;
  font-weight: 700;
  margin: 30px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 576px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
  }

  .u-section-6 .u-text-2 {
    margin-right: 481px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 859px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 441px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 350px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 261px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 639px;
  }
}

@media (max-width: 767px) {
  .u-section-6 {
    background-position: 10.23% 47.9%;
    background-size: auto 125%;
  }

  .u-section-6 .u-sheet-1 {
    min-height: 663px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 170px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 41px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 459px;
  }
}

@media (max-width: 575px) {
  .u-section-6 {
    background-position: 33.69% 53.85%;
  }

  .u-section-6 .u-sheet-1 {
    min-height: 417px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 115px;
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    margin-top: 135px;
    margin-right: 0;
  }

  .u-section-6 .u-text-3 {
    margin-right: 259px;
  }
}.u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 575px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 217px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 0;
}

.u-section-7 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 30px auto 0 0;
}

.u-section-7 .u-icon-1 {
  height: 100%;
}

.u-section-7 .u-icon-2 {
  height: 100%;
}

.u-section-7 .u-icon-3 {
  height: 100%;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 216px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-icon-4 {
  height: 48px;
  width: 48px;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-7 .u-text-3 {
  margin: 20px 103px 0 0;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 216px;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7 .u-text-4 {
  margin: 65px 0 0;
}

.u-section-7 .u-layout-cell-4 {
  min-height: 216px;
}

.u-section-7 .u-container-layout-4 {
  padding: 30px;
}

.u-section-7 .u-icon-5 {
  height: 48px;
  width: 48px;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-5 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 20px 0 0;
}

.u-section-7 .u-text-6 {
  margin: 23px 263px 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 499px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 179px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 178px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 3px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 178px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 178px;
  }

  .u-section-7 .u-text-6 {
    margin-right: 163px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 342px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 0;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-7 .u-text-6 {
    margin-right: 53px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 542px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-7 .u-text-6 {
    margin-right: 0;
  }
}